# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias de Node.js
node_modules/
dist/
dist-ssr/
build/   # Agregado para builds de React
*.local

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de cache (si usas herramientas como Next.js o similares)
.cache/
.next/

# Archivos de servicio de terceros (si usas Firebase, etc.)
firebase-debug.log

# Archivos de configuración del editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos de configuración de otros editores
*.iml

# Otros archivos del sistema operativo
Thumbs.db