[class*="container"] {

  --border-radius-table: 5px;
  --border-weight: 1.5px;

  .row {

    border-top: var(--border-weight) solid black;
    border-left: var(--border-weight) solid black;
    border-right: var(--border-weight) solid black;
    overflow: hidden;

    [class*="col"] {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: var(--border-weight) solid black;
      overflow: hidden;
      padding: 3px;
      background-color: white;
    }

    [class*="col"]:last-child {
      border-bottom: none;
    }
  }

  @media screen and (min-width: 768px) {
    .row {

      [class*="col"] {
        border-bottom: none;
        border-right: var(--border-weight) solid black;
      }

      [class*="col"]:last-child {
        border-right: none;
      }
    }

    .row.header.normal {
      display: flex !important;
    }

    .row.header.responsive {
      display: none !important;
    }
  }

  .row.header.normal {
    display: none;
  }

  .row.header.responsive {
    display: flex;
  }

  .row.header {

    [class*="col"] {
      background-color: green;
    }

  }

  .row:first-child,
  .row:nth-child(2) {
    border-top-left-radius: var(--border-radius-table);
    border-top-right-radius: var(--border-radius-table);
  }

  .row:last-child {
    border-bottom: var(--border-weight) solid black;
    border-bottom-left-radius: var(--border-radius-table);
    border-bottom-right-radius: var(--border-radius-table);
  }
}