.appointmentReq {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  input:not([type="checkbox"]) {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }

  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .modalidadContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

}

.checkboxContainer{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}