.card {

  width: clamp(18rem, 15vw, 24rem);
  margin: 0;
  height: 100%;
  background-color: rgba(197, 193, 117, 0.75);

  .card-img-top {
    aspect-ratio: 15/8;
    object-fit: contain;
  }

  .card-body {
    display: grid;

    .btn {
      align-self: end;
    }
  }
}