.custom-carousel {
  background: radial-gradient(circle at top left, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    radial-gradient(circle at top right, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    radial-gradient(circle at bottom left, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    radial-gradient(circle at bottom right, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    var(--color-light-5);

}

.carousel-inner {
  height: 400px;

  .carousel-item {
    height: 100%;
  }

  img {
    object-fit: contain;
    overflow: hidden;
    aspect-ratio: 1;
    width: 100%;
  }

  h3 {
    color: black;
    font-size: 2.25rem;
    -webkit-text-stroke: .75px white;
    font-weight: 600;
  }

  p {
    color: black;
    font-size: 1.25rem;
    -webkit-text-stroke: .75px white;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .carousel-inner {
    height: auto;

    img {
      aspect-ratio: 4/1;
    }
  }
}