.carousel-inner {
  height: 400px;

  .carousel-item {
    height: 100%;
  }

  img {
    object-fit: contain;
    overflow: hidden;
    aspect-ratio: 2000/500;
    width: auto;
  }

  h3 {
    -webkit-text-stroke: .4px black;
    font-weight: 600;
  }

  p {
    -webkit-text-stroke: .4px black;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .carousel-inner {
    height: auto;

    img {
      width: 100%;
    }
  }
}