:root {
  --color-dark-1: #131B01;
  --color-dark-2: #41757E;
  --color-dark-3: #705A56;
  --color-mid-1: #82603D;
  --color-mid-2: #97533D;
  --color-mid-3: #A5B462;
  --color-mid-4: #B3CD12;
  --color-light-1: #C5C175;
  --color-light-2: #C9B09C;
  --color-light-3: #DD7B18;
  --color-light-4: #81D2CB;
  --color-light-5: #F2F0EE;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-image: repeating-linear-gradient(125deg,
      var(--color-light-4) 0 1px,
      transparent 2px 150px),
    repeating-linear-gradient(45deg,
      var(--color-light-4) 0 1px,
      transparent 2px 150px),
    radial-gradient(at 50% 50%, var(--color-mid-3), var(--color-light-4));
  background-size: cover;
  background-attachment: fixed;
}