* {
    box-sizing: border-box !important;
}

.custom-row {
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 23rem;
    }
}

/* Hero Section (Presentación) */
.home-hero {
    padding: 1rem 0;
    background-image: url("/Veterinaria-frente.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 100%;
    overflow: hidden;
}

.home-hero .hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 75vw;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        color: var(--color-light-5);
    }
}

/* Carousel Section */
.carousel-section {
    padding: 50px 0;
}

.carousel-section h2 {
    margin-bottom: 40px;
    color: #333;
}

/* Products Section */
.products-section {
    padding: 50px 0;
}

.products-section h2 {
    color: #333;
    margin-bottom: 40px;
}

/* Adoption Section */
.adoption-section {
    padding: 50px 0;
}

.adoption-section h2 {
    margin-bottom: 40px;
    color: #333;
}

@media screen and (min-width: 768px) {
    .home-hero .hero-content {

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}