* {
    box-sizing: border-box !important;
}

.custom-row {
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 23rem;
    }
}

/* Hero Section (Presentación) */
.home-hero {
    padding: 1rem 0;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.home-hero .hero-background {
    position: absolute;
    /* Posición absoluta para cubrir la sección */
    top: 0;
    /* Coloca la imagen en la parte superior */
    left: 0;
    /* Coloca la imagen en la parte izquierda */
    width: 100%;
    /* Asegúrate de que la imagen cubra el ancho completo */
    height: 100%;
    /* Asegúrate de que la imagen cubra el alto completo */
    object-fit: cover;
    /* Asegúrate de que la imagen cubra toda la sección sin deformarse */
    z-index: 0;
    /* Envía la imagen al fondo */
}

.home-hero .hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 75vw;
    animation: fadeInBounce 1.25s forwards;
    animation-delay: 0.2s;
    /* Para asegurar que el contenido esté sobre la imagen */
    z-index: 1;
    /* Para asegurarse de que el contenido esté por encima de la imagen */
    margin: auto;
    /* Centrar el contenido horizontalmente */


    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        color: var(--color-light-5);
    }
}

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        /* Comienza ligeramente arriba */
    }

    30% {
        opacity: 1;
        transform: translateY(0);
        /* Se coloca en su lugar */
    }

    55% {
        transform: translateY(-10px);
        /* Rebote hacia arriba 1 */
    }

    70% {
        transform: translateY(0);
        /* Regreso a la posición original */
    }

    85% {
        transform: translateY(-5px);
        /* Rebote hacia arriba 2 */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Se coloca en su lugar después del segundo rebote */
    }
}

/* Carousel Section */
.carousel-section {
    padding: 50px 0;
}

.carousel-section h2 {
    margin-bottom: 40px;
    color: #333;
}

/* Products Section */
.products-section {
    padding: 50px 0;
}

.products-section h2 {
    color: #333;
    margin-bottom: 40px;
}

/* Adoption Section */
.adoption-section {
    padding: 50px 0;
}

.adoption-section h2 {
    margin-bottom: 40px;
    color: #333;
}

@media screen and (min-width: 768px) {
    .home-hero .hero-content {

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}