.navStyle {
  background: linear-gradient(180deg, var(--color-light-5) 50%, transparent) !important;
  position: fixed;
  z-index: 3;

  * {
    font-size: 1.5rem;
    text-align: center;
  }
}

.nav-space{
  height: var(--navbar-height);
}

.navbar {
  width: 100%;
}

.navbar-nav {
  width: 99%;
}

.contenedor-links {
  display: flex;
  flex-direction: column;
}

.abbr,
abbr[title] {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito-link,
.favoritos-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 4rem;
}

/* .carrito-icon,
.favoritos-icon {
  width: 24px;
  height: 24px;
}

.carrito-icon.empty,
.favoritos-icon.empty {
  fill: black;
}

.carrito-icon.has-items {
  fill: green;
}

.favoritos-icon.has-items {
  fill: yellow;
} */

.cart-item-count,
.favs-item-count {
  /* Ajusta el color según el diseño */
  border-radius: 50%;
  margin-bottom: auto;
  padding: 0 5px;
  font-size: 10px;
}

.cart-item-count {
  color: white;
  background-color: green;
}

.favs-item-count {
  color: white;
  background-color: #ff0019;
}

.hidden-space {
  visibility: hidden;
}

.show-space {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .navStyle {
    * {
      font-size: inherit;
      text-align: inherit;
    }
  }

  .carrito-link,
  .favoritos-link {
    width: 3rem;
  }

  .contenedor-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}